#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  z-index: 1;
}

.form {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.form__inputs {
  width: 80%;
}

.form__fieldset {
  height: 4rem;
}

.form__legend {
  text-align: left;
  color: white;
}

.form__input {
  width: 90%;
  height: 2.5rem;
}

.form__submit {
  width: 19%;
  margin-top: 10px;
}
